html, body 
{
	height: 100%;
    margin: 0 135px 0 135px;
}

h1, h2, h3, h4, h5, h6, p, a
{
    font-family: 'Lato', sans-serif;
    color: #404040;
    letter-spacing: 1px;
    font-weight: 300;
}

#contenu
{
    display: flex;
    min-height: 100%;
    border: 1px solid black;
}

/* SIDEBAR */

#sidebar 
{ 
    max-width: 35%;
    min-height: 100%;
    background-color: #008080;
}
#sidebar > h1, h2, h3, h4, h5, h6, p
{
    color: #ffffff;
    text-align: justify;
}
.rounded-circle
{
    overflow:hidden;
    border-radius: 50%;
    max-width: 70%;
    box-shadow: 1px 1px 12px #555;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.divider
{
    background-color: #e7f3f3;
    height: 40px;
    margin-top: 40px;
}
.divider h2
{
    color: #008080;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
i
{
    margin-right: 5px;
}

.contact h4
{
    margin-left: 30px;
}



/* MAIN CONTENT*/

#info
{
    width: 65%;
    background-color: #e7f3f3;
}

.heading
{
   margin: 100px 0 0 60px;
}

.heading h1
{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.heading h2
{
    font-size: 30px;
    font-weight: 400;
    color: #404040;
    margin-top: 5px;
}

.heading h1, h2
{
    letter-spacing: 1.2px;
}

.underline
{
    border-bottom: 1.5px solid #008080;
}


/* FOOTER */

.footer 
{
	position: absolute;
	width: 750px;
	bottom: 0;
	left: 10px;
}
