
/* GENERAL */

html, body 
{
	height: 100%;
    margin: 0px 130px 0px 130px;
}

h1,h2,h3,h4,h5,h6,p,a 
{
    font-family: 'Lato', sans-serif;
    color: #404040;
    letter-spacing: 1px;
    font-weight: 300;
}

#contenu
{
    display: flex;
    width: 100%;
    min-height: 100%;
    border: 1px solid black;
}

#about-block
{
    min-height: 63%;
    max-height: 63%;
}



/* RESPONSIVE RULES*/

@media screen and (max-width:1280px)
{
    html,body
    {
        margin: 0px;
        width: auto;
    }
    .profile-picture img
    {
        max-width: 40%;
    }
    #contenu
    {
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    #sidebar, #info
    {
        min-width: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #info
    {
        display: flex;
    }
    .heading
    {
        margin: auto;
        justify-content: center;
    }
    .heading i
    {
        font-size: 20px;
    }
    #about-block
    {
        min-height: 50%;
        max-height: 50%;
    }
    #hobby-block
    {
        min-height: 20%;
        max-height: 20%;
    }
 
}



/* SIDEBAR */

#sidebar 
{ 
    max-width: 35%;
    background-color: #008080;
}

#sidebar h4, #sidebar p
{
    color: #ffffff;
    text-align: justify;
}
.sidebar
{
    display: flex;
}
.rounded-circle
{
    overflow:hidden;
    border-radius: 50%;
    max-width: 70%;
    box-shadow: 1px 1px 12px #555;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.divider
{
    background-color: #e7f3f3;
    height: 40px;
    margin-top: 40px;
}
.divider h2
{
    color: #008080;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
i
{
    margin-right: 5px;
}


.contact h4
{
    margin-left: 30px;
}




/* SIDEBAR ABOUT*/


.about p
{
    text-align: justify;
    margin: 30px 30px auto 30px;
}



/* SIDEBAR HOBBIES */

#hobbies
{
    display: flex;
    justify-content: center;
}

.hobby-icon
{
    display: block;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e7f3f3;
    padding: 11px 11px;
    border-radius: 100%;
}



/* MAIN CONTENT*/

#info
{
    width: 65%;
    background-color: #e7f3f3;
}
#info-container
{
    height: 50%;
    padding: 0 60px 0 60px;
    display: flex;
    flex-direction: column;
}

.title
{
    margin: 100px 0 120px 60px;
}

.title h1
{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.title h2
{
    font-size: 30px;
    font-weight: 400;
    color: #404040;
    margin-top: 5px;
}

.title h1, .title h2
{
    letter-spacing: 1.2px;
}

.underline
{
    border-bottom: 1.5px solid #008080;
}
.green-divider
{
    width: 80%;
    height: 2px;
    background: #008080;
    margin: 0 auto 20px auto;
}
.heading i
{
    color: #008080;
    font-size: 32px;
    margin-right: 20px;
}
.heading h2
{
    color: #008080;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-left: 60px;   
}
.date i
{
    font-size: 8px;
    color: #008080;
    margin-right: 10px;
}
.selected i
{
    font-size: 16px;
    color: #008080;
    margin-right: 10px;
}
.date
{
    max-width: 40%;
    min-width: 40%;
    text-align: left;
    float: left;
    margin-bottom: 20px;
}
.date p
{
    font-weight: bold;
}
.info-content
{
    max-width: 60%;
    min-width: 60%;
    float: right;
    text-align: left;
}
.info-content h2
{
    font-weight: bold;
    font-size: 22px;
}


/* REFERENCES */

.reference-block
{
    min-width: 100%;
    max-width: 100%;
}
.references
{
    display: flex;
    flex-direction: row;
}
.references1
{
    float: left;
    margin-left: 60px;
}
.references2
{
    float: right;
    margin-left: 90px;
}
.references1 h2, .references2 h2
{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.references1 p , .references2 p
{
    font-size: 14px;
    margin-bottom: 100px;
}


